html {
  --primary-color: #028480;
}

body {
  background-color: var(--primary-color);
}

.landing-text {
  position: absolute;
  bottom: 50%;
  text-align: center;
  justify-content: middle;
  margin-left: 20%;
  margin-right: 20%;
  color: black;
  font-size: 30px;
}
