.buttonMan{
  width: 282px;
  height: 39px;
  background-color: #ffffff;
  flex-direction: column;
  display: flex;
  border: none;
}

.buttonDawg{
 display: block;
 background: none;
 height: auto;
 width: auto;
 border:none;
}

.imgP{
  position: absolute;
  top: auto;
  left: auto;
  height: 28px;
  width: 27px;
  object-fit: contain;
}

.placeholderINPUT{
  font-family: Roboto;
  top: 0px;
  right: 5px;
  position: absolute;
  font-style: normal;
  font-weight: 400;
  color: #121212;
  height: auto;
  width: auto;
  border: none;
  background: transparent;
}

.ImageStack{
  width: auto;
  height: auto;
  position: relative;
}

/* --------------------------------------------------------------------- */
@media screen and (max-width: 550px) {
    .buttonMan{
      width: 200px;
      height: 20px;
    }
}