.buttonMan{
  width: auto;
  height: auto;
  background-color: #ffffff;
  flex-direction: column;
  display: flex;
  border: none;
}

.buttonDawg{
 display: block;
 background: none;
 height: auto;
 width: auto;
 border:none;
}

.placeholderINPUT{
  font-family: Roboto;
  top: 0px;
  position: center;
  font-style: normal;
  font-weight: 400;
  color: #121212;
  height: 2rem;
  width: 20rem;
  border: none;
  background: transparent;
}

.ImageStack{
  width: auto;
  height: auto;
  position: relative;
}

/* --------------------------------------------------------------------- */
@media screen and (max-width: 550px) {
    .buttonMan{
      width: 200px;
      height: 20px;
    }
}