.buttonMan{
  width: auto;
  height: auto;
  background-color: #ffffff;
  flex-direction: column;
  display: flex;
  border: none;
  position: relative;
  right: 250px;
  border-radius: 20px;
}

.buttonDawg{
 display: block;
 background: none;
 height: auto;
 width: auto;
 border:none;
}

.imgP{
  width: 20px;
  height: 24px;
}

.placeholderINPUT{
  font-family: Roboto;
  top: 0px;
  position: center;
  font-style: normal;
  font-weight: 400;
  color: #121212;
  height: 2rem;
  width: 20rem;
  border: none;
  background: transparent;
  outline: none;
}

.ImageStack{
  width: auto;
  height: auto;
  position: relative;
}


/* --------------------------------------------------------------------- */

@media screen and (max-width: 1350px) {
  .buttonMan{
    position: relative;
    right: 150px;
  }
}

/* --------------------------------------------------------------------- */

@media screen and (max-width: 950px) {
  .buttonMan{
    position: relative;
    right: 50px;
  }
}

/* --------------------------------------------------------------------- */

@media screen and (max-width: 750px) {
  .buttonMan{
    position: relative;
    right: 0px;
  }
}

/* --------------------------------------------------------------------- */
@media screen and (max-width: 650px) {
    .buttonMan{
      display: none;
    }
}
