.profile{
    width: 100%;
    min-height: 100vh;
}

.info{
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px 10px;
}
.info_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info_content{
    min-width: 250px;
    max-width: 550px;
    width: 100%;
    flex: 1;
    opacity: 0.7;
    margin: 0 15px;
}
.info_content_title{
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5px;
}
.info_content_title h2{
    font-size: 2rem;
    transform: translateY(4px);
    flex: 3;
}
.info_content_title a{
    flex: 2;
    color: #007471;
    font-size: 1.5rem
}



.info_container .info_follow{
    cursor: pointer;
    padding-bottom: 20px;
}


.info_container p {
    padding-right: 100px;
}



/* Follow */

.follow {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.609);
    width: 100%;
    height: 100vh;
    z-index: 4;
}

.follow_box {
    border-radius: 25px;
    width: 400px;
    height: 700px;
    border: 1px solid #222;
    background-color: #F1F0F0;
    padding: 20px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.follow_box .close {
    position: absolute;
    bottom: 0;
    right: 40%;
    padding-bottom: 10px;
}

.follow_list {
    margin-left: 15%;
    
}